- @posts.each do |post|
	= image_tag post.image.url(:small)
	%h2= link_to post.title, post
	%p
		= post.comments.count
		Comments
	%p
		= post.get_likes.size
		Likes

= link_to "Add new Inspiration", new_post_path



	

